.jumbotron{
	background-image: url(image/background.png);
	background-size: cover;
	height: 610px;
	margin-top: -20px;
}

.jumbotron .display-4{
	margin-top: 130px;
}

.jumbotron-2{
	background-image: url(image/background.png);
	background-size: cover;
	height: 720px;
	margin-top: -20px;
}

.navbar-margin{
	margin-bottom: -76px;
}


footer{
	height: 70px;
}